html, body {
    width: 99.5%;
    height: 100%;
}

body {
    background-color: #B8E986;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* HEADER : */

header {
    background-color: #39B54A;
    border-radius: 10px 10px 0px 0px;
}

h1 {
    text-align: center;
    padding: 20px;
}

#working-directory-div {
    padding: 0px 20px 20px 20px;
}

#main-content {
    height: 100%;
    width: 100%;
}

aside {
    float: left;
    width: 20%;
    height: 100%;
    background: #39B54A;
}

.aside-li {
    list-style-type: none;
    padding: 2px;
    margin: 3px;
    border-bottom: solid 2px black;
}

.aside-li:hover {
    color: white;
}

main {
    float: right;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
}

#actual-folder {
    width: 100%;
}

#tag-selection-div {
    padding: 5px;
}

.input-text {
    padding: 5px;
    color: black;
    font-weight: bold;
}

button {
    margin-left: 5px;
}

:required {
   border: 2px solid orange;
   border-radius: 5px;
}

.answer-container {
    border-bottom: 1px solid black;
}

.key{
    height: 30px;
    vertical-align: center;
    width: 100%;
    margin: 0px;
    border-radius: 5px;
    padding: 5px;
}

.key:hover {
    background-color: #B8E986;
}

 .values {
    display: none;
}

.accordeon {
    font-size: 12px;
    color: grey;
}

.result-list {
    list-style-type: none;
    padding: 3px;
    border-bottom: 1px solid #B8E986;
}
